@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
:root{
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.2);
}
a{
    text-decoration: none;
    color: #000;
}

img{
    object-fit: cover;
}

body{

    background-color: white;
}

nav{
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    transition: 0.3s ease;
}

nav.active{
    position: fixed;
    /* padding: 0px; */
    z-index: 10;
    width: 100%;
    box-shadow: var(--box-shadow);
    background-color: white;
}

nav a.logo{
    font-size: 33px;
    font-weight: 700;
    color: #2E3D64;
}

nav a.logo span{
    color: #0093AC;
}

nav .links a:not(:last-child){
    margin-right: 20px;
}

nav .links a{
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    transition: 0.4s ease-in;
}

nav .links a:hover{
    /* color: #07205f; */
    color: white;
    padding: 1px 6px;
    border-radius: 4px;
    font-weight: 400;
    background-color: #abb9db;
}

/* @keyframes animasitampil {
    from {
        content: "";
    display: block; 
    transition: 0.27s linear;
    transform: scaleX(0);
    border-bottom: 2px solid #07205f;
    }

    to {
        transform: scaleX(1);
    }
} */

 /* nav .links a:after{
    content: "";
    display: block; 
    transition: 0.3s ease;
    transform: scaleX(0);
    background-color: #07205f;
    border: 1px solid #07205f;
}

nav .links a:hover::after{
    color: #07205f;
    font-weight: 600;
    transform: scaleX(1);
}  */

nav .links a.active{
    color: white;
    padding: 1px 6px;
    border-radius: 4px;
    font-weight: 600;
    background-color: #07205f;

}

nav .links .belajar{
    /* display: none; */
}

.button_header{

    display: none;
    align-items: center;
    justify-content: center;
}

.button_header a i{
    color: #1a1a1a;
    font-size: 24px;
    margin:7px 15px 0 0;
}

.button_header button{
    font-size: 17px;
    margin-right: 10px;
    padding: 5px 25px;
    border: 1px solid;
    border-radius: 3px;
    border-color: #2E3D64;
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
    background-color: #2E3D64;
}

.button_header button.singup{
    margin-right: none;
    color: #2E3D64;
    background-color: transparent;
}

.button_header button.login:hover{
    background-color: #abb9db;
    border-color: #abb9db;
}

.button_header button.singup:hover{
    background-color: #abb9db;
    color: white;
    border-color: #abb9db;
}

.masuk_akun {
    display: flex;
    align-items: center;
}

.masuk_akun a i{
    color: #1a1a1a;
    font-size: 24px;
    margin:7px 15px 0 0;
}

.masuk_akun p{
    font-size: 17px;
    margin-right: 15px;
}

.masuk_akun img{
    object-fit: cover;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    
}

.image_left{
    top: 0;
    z-index: -1;
    position: absolute;
}

header{
    padding: 0 80px;
    height: calc(100vh - 130px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .left{
    
    width: 700px;
}

.image_left img{
    width: 900px;
}

@media screen and (width: 1366px) {
    .image_left img{
        width: 750px;
    }

}

header img{
    width: 750px;
}

header .left h1{
    font-size: 40px;
}

header .left h1 span{
    border: 1px solid;
    padding: 2px 10px;
    border-radius: 3px;
    border-color: #2E3D64;
    background-color: #2E3D64;
    color: white;
}

header .left h2{
    color: #2E3D64;
    font-size: 30px;
    margin-bottom: 20px;
}

header .left h2 span{
    color: #0093AC;
}

header .left p{
    width: 550px;
    font-weight: 500;
}

header .left .button_left{
    margin-top: 20px;
}

header .left .button_left button{
    border: 1px solid;
    border-color: #2E3D64;
    background-color: #2E3D64;
    color: white;
    font-size: 20px;
    border-radius: 2px;
    padding: 3px 17px;
    margin-right: 10px;
    transition: .0.2s ease;
    cursor: pointer;
}

header .left .button_left .contact{
    margin-right: none;
    background-color: transparent;
    color: #2E3D64;
}

header .left .button_left .belajar:hover{
    background-color: #abb9db;
    border-color: #abb9db;
}

header .left .button_left .contact:hover{
    background-color: #abb9db;
    color: white;
    border-color: #abb9db;
}

.title{
    height: 100vh;
    width: 100%;
    /* padding: 40px 0; */
}

.title h1{
    padding-top: 20px;
    text-align: center;
    color: #2E3D64;
}

.title p{
    margin: 15px 20% 0 20%;
    text-align: center;
}

.keunggulan{
    margin-top: 60px;
    padding: 0 80px;
    display: flex;
    gap: 10px;
   justify-content: space-between;
}

.keunggulan img {
    width: 550px;
}


.keunggulan .bagiankiri_keunggulan{
    width: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.keunggulan .list{
    width: 300px;
}

.keunggulan .list .judul_keunggulan{
    display: flex;
    background-color: #EEF5FF;
    border-radius: 3px;
}

.keunggulan .list .judul_keunggulan i{
    font-size: 60px;
    margin: auto 0;
}

.keunggulan .list .judul_keunggulan h1{
    padding: 0;
    font-size: 25px;
}

/* .title{
    padding: 0px 0;
} */
.keunggulan .list p{
    margin: 10px 0;
    text-align: left;
}

.bgbiru{
    background-color: #2E3D64;
}

.active-title{
    background-color: #aef3ff !important;
}

.title .kelas {
    padding: 0 80px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.title .kelas .macam_kelas{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    height: 100px;
    width: 47%;
}

.title .kelas .macam_kelas h1{
    font-weight: 600;
    color: #2E3D64;
    /* background-color: #fff; */
    /* width: 150px; */
    margin: 0;
    padding: 0;
    
}

.title .kelas .macam_kelas i{
    color: #2E3D64;
    /* margin: auto; */
    font-size: 80px;
}

.title .contohpaket{
    margin: 40px 80px 0 80px;
    padding: 60px 40px 10px 40px;

    border-radius: 5px;
    background-color: white;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    transition: 0.5s ease;
}

.title .contohpaket:hover{
    box-shadow: var(--box-shadow);
}

.title .contohpaket .kiri_paket{
    width: 550px;
}

.title .contohpaket .kiri_paket h1{
    padding: 15px 0 0 0;
    text-align: left;
    font-weight: 500;
    color: #000;
}

.title .contohpaket .kiri_paket .keteranganpaket{
    display: flex;
}

.title .contohpaket .kiri_paket .keteranganpaket i{
    font-size: 25px;
    margin-top: 10px;
    color: #2E3D64;
}

.title .contohpaket .kiri_paket .keteranganpaket p{
    margin: 10px 0 0 10px;

}

.title .contohpaket .kiri_paket .garis{
    height: 2px;
    background-color: #f3f3f3;
    margin: 20px 0;
}

.title .contohpaket .kiri_paket p{
    text-align: left;
    font-size: 15px;
    margin: 0 0 10px 0;
}

.title .contohpaket .kiri_paket button{
    border: 1px solid;
    border-radius: 3px;
    background-color: #2E3D64;
    border-color: #2E3D64;
    color: white;
    cursor: pointer;
    font-size: 25px;
    padding: 3px 70px;
    margin: 0 0 20px 0;
    transition: .0.3s ease;
}

.title .contohpaket .kiri_paket button:hover{
    background-color: #abb9db;
    border-color: #abb9db;
}

.title .contohpaket .kanan_paket{
padding-left: 40px;
position: relative;
width: 500px;
      height: 100%;
    /* justify-content: start; */
}



.title .halos{
    padding: 0 80px;
    display: flex;
    align-items: center;
}

.halos img{
    width: 730px;
}

.halos .kanan{
    align-items: center;
}

.halos .kanan h1{
    
    text-align: end;
}

.halos .kanan p{
    text-align: end;
    padding: 0;
    margin: 0;
}

.halos .kanan .mobile{
    display: flex;
    margin-top: 20px;
    justify-content: end;
    padding: 0;
    
}



.halos .kanan .mobile .kiri_mobile{
    margin: 0 40px 0 0 ;
}

.halos .kanan .mobile .kiri_mobile h2{

    font-size: 14px;
    font-weight: 500;
}

.halos .kanan .mobile .kiri_mobile p{
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 700;
}

.halos .kanan .mobile .kanan_mobile{
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #07205f;
    margin: 0;
    /* width: 300px; */
    padding: 5px 15px;
    gap: 10px;
}

.halos .kanan .mobile .kanan_mobile i:first-child{
    color: greenyellow;
    font-size: 45px;
    margin: 0;
    padding: 0;
}

.halos .kanan .mobile .kanan_mobile .kiw i{
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.halos .kanan .mobile .kanan_mobile .tulis_mobile h4{
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    color: white;
    padding: 0;
    
}

.halos .kanan .mobile .kanan_mobile .tulis_mobile p{
    color: white;
    font-size: 23px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.halos .kanan .mobile .kanan_mobile p{
    margin: 0;
    padding: 0;
    color: white;
    margin-top: 40px;
}

.title .testi{
    padding: 20px 80px 0 80px;
    display: flex;
    position: relative;
    align-items: center;
}



.title .halo{
    /* background-color: green; */
    /* display: flex; */
    /* z-index: 2; */
    /* justify-content: space-between; */
    padding: 0 30px;
    position: relative;
    /* align-items: center; */
    /* height: 100%; */
    /* width: 100%; */
    /* padding: 0 calc(50px + 30px) 0 30px; */
}

.title .halo i{
    top: 300px;
    position: absolute;
    z-index: 2;
    color: white;
    background-color: #2E3D64;
    border-radius: 3px;
    font-size: 50px;
    cursor: pointer;
    transition: .0.3s ease;

}

.title .halo i:last-child{
    right: 30px;
}

.title .halo i:hover{
    background-color: #abb9db;
}

.title .testi img{
    width: 400px;
    margin: 0 30px;
}

.title .testi .komentar{
    text-align: left;
}

.title .testi .komentar i{
    
    color: white;
    background-color: #2E3D64;
    border-radius: 3px;
    font-size: 50px;
    padding: 20px;
    cursor: pointer;
    transition: .0.3s ease;
}


.title .testi .komentar p{
    text-align: left;
    margin: 25px 30px 0 0;
    width: 700px;
}

.list_testi{
    position: relative;
    width: 1300px;
    max-width: 100vw;
}

.macam_testi{
    overflow-x: auto;
    position: absolute;
    display: flex;
    width: max-content;
    align-items: center;
}

.title .testi .komentar h1{
    font-size: 20px;
    color: #000;
}

footer {
    background-color: #2E3D64;
    margin:  0;

    padding: 5px 0;
    
}

.footers{
    
    padding: 30px 0;
    margin: 0 80px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.footer_kiri{
    width: 400px;

}

.footer_kiri h1{
    color: #07205f;
    font-size: 35px;
}

.footer_kiri h1 span{
    color: #0093AC;
}

.footer_kiri h2{
    color: white;
    font-size: 17px;
    font-weight: 400;
}

.footer_tengah{
    width: 400px;
    color: white;
}

.footer_tengah h1{
    font-size: 25px;
    font-weight: 600;
}

.footer_tengah h2{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.footer_tengah h2:hover{
    color: #bdbdbd;
}

.footer_kanan{
    width: 300px;
}

.garis_footer{
    height: 1.5px;
    margin: 10px 0;
    background-color: white;
}



.copyright h1{
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}

/* html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    } */
    .swipp{
        padding: 0 ;
    }

    .swiper {
      width: 100%;
      height: 80vh;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .btn-testi{
        padding: 30px;
        background-color: #07205f;
        transform: translateY(30px);

    }

    .btn-testi::after,
    .btn-testi::before{
        font-size: 30px;
        color: white;
    }