

.isi_paket {

    margin-top: 100px;
    text-align: center;
padding: 40px 80px 0 80px;
}


.isi_paket h1{
    /* margin-top: 30px; */
    color: #2E3D64;

}

.isi_paket h3{
    /* margin-top: 30px; */
    text-align: start;
    color: #2E3D64;
    font-size: 27px;
    margin-top: 50px;
}

.materi_isipaket{
    display: flex;
    flex-wrap: wrap;
    
    text-align: start;
    gap: 17px;
}

.satumateri_isipaket{
    width: 300px;
    padding: 10px;
    transition: 0.5s ease;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.satumateri_isipaket:hover{
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.gambar_isipaket{
    border-radius: 4px;
    height: 150px;
    margin-bottom: 10px;
    /* background-color: #ddd; */
}



.satumateri_isipaket h2{
    font-size: 29px;
    margin-bottom: 10px;
}

.progres_isipaket{
    justify-content: space-between;
    display: flex;
}

.satumateri_isipaket progress{
    width: 100%;
}

.deskripsi p{
    text-align: start;
}

.deskripsi h3{
    margin-top: 70px;
}